<<!Doctype html>
<html>
<head>
<style>
<link rel="stylesheet" type="text/css" href="stu.css">
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
  <body style=background-image:'help.jpeg'>
    {{{body}}}
  </body>
</html>
